app = "ecommerce-api-hoang"

primary_region = "ord"

[build]
dockerfile = "Dockerfile"

[env]
PORT = "8000"

[[services]]
internal_port = 8000
protocol = "tcp"

[services.concurrency]
hard_limit = 25
soft_limit = 20
type = "connections"

[[services.ports]]
port = 80
handlers = ["http"]

[[services.ports]]
port = 443
handlers = ["tls", "http"]

[[services.tcp_checks]]
grace_period = "1s"
interval = "15s"
timeout = "2s"
